.sport-cart img {
    width: 240px;
    height: 230px;
    margin: 5px;
    /* border-radius: 5px; */
}

.sport-cart {
    width: 250px;
    height: 400px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
}

.sport-cart h3 {
    margin-top: 5px;
}

.sport-cart p {
    margin-top: 0;
}

.btn-sport {
    background-color: slateblue;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0;
    border-radius: 5px;
}

.btn-sport:hover {
    background-color: mediumslateblue;
}