.container {
    display: grid;
    /* grid-template-columns: 5fr 2fr; */
    grid-template-columns: 5fr 2fr;

}

.sports-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 10px;
}

.cart-container {
    margin-top: 10px;
    background-color: rgb(250, 236, 218);
    border-radius: 5px;
}

@media only screen and (max-width: 700px) {
    .container {
        grid-template-columns: 0fr;
        justify-content: center;
    }

    .sports-container {
        grid-template-columns: repeat(1, 1fr);
    }
}