.container {
    display: grid;
    grid-template-columns: 5fr 2fr;

}

.sports-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 10px;
}

.cart-container {
    /* background-color: lightsteelblue; */
}