.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: aquamarine;

}

.header a {
    padding: 10px;
    text-decoration: none;
    color: darkslategray;
}